/* ---------- Global ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

p {
    color: rgb(85, 85, 85);
}

html {
    scroll-behavior: smooth;
}

/* ---------- Navbar ---------- */
.header {
    background-color: navy;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 2%;
    display: flex;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 3);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    opacity: 90%;
}


/* .logo-img {
    margin-left: auto;
    padding-bottom: -100px;
    width: 15%;
    height: 1%;
    padding: 20px;
    left: 0px;
    display: inline;
}
*/

.logo-text {
    background-color: navy;
    padding-top: 30px;
    margin-top: 30px;
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    display: inline;
}

.logo {
    background-color: navy;
}

.logo:hover {
    color: lightblue;
    text-shadow: 0 0 25px lightblue, 0 0 50px lightblue;
    transform: scale(1.1);
}

.navbar {
    background-color: navy;
}

.navbar a {
    font-size: 20px;
    font-weight: 550;
    color: white;
    margin: 0 20px;
    background-color: navy;
}

.navbar a:hover {
    border-bottom: 3px solid black;
    text-shadow: 0 0 25px lightblue, 0 0 50px lightblue, 0 0 75px lightblue;
    transition: transform 0.5s ease-in;
    transform: scale(1.1);
}

/* ---------- Sections ---------- */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}


/* ---------- About Me ---------- */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
    align-items: center;
    padding: 30px 12% 0;

}

/*
#profile {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

*/
.profile-person-img {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    
}

.profile-person-img img {
    border-radius: 100%;
}

.profile-text {
    align-self: center;
    text-align: center;
}
.profile-text-h3 {
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.profile-text-p {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.profile-text-h1 {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icons {
    cursor: pointer;
    height: 2.5rem;
}

#github, #linkedin {
    border-radius: 100%;
}

.icons:hover {
    cursor: pointer;
    height: 3rem;
    box-shadow: 0 0 35px black;
}

/* Buttons */
.btn-container {
    display: flex;
    width: 345px;
    justify-content: center;
    gap: 1rem;
}

.btn-resume, .btn-contact {
    font-weight: 600;
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 2rem;
}

.btn-resume:hover, .btn-contact:hover {
    background-color: white;
    box-shadow: 0 0 25px white;
    color: black;
    border-color: black;
}

/* ---------- Contact Me ---------- */

/* Buttons */
.submit-contact {
    font-weight: 600;
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 2rem;
    width: 100%;
}

.btn-contact:hover {
    background-color: white;
    box-shadow: 0 0 25px white;
    color: black;
    border-color: black;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size:  36px;
}

.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input, 
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;;
}